@page "/games/create"
@inject Zadanie2.Data.ApplicationDbContext DB
@using Zadanie2.Components
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h4>game</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="game" OnValidSubmit="Addgame" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />
            <div class="mb-3">
                <label for="title" class="form-label">Title:</label> 
                <InputText id="title" @bind-Value="game.Title" class="form-control" /> 
                <ValidationMessage For="() => game.Title" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="description" class="form-label">Description:</label> 
                <InputText id="description" @bind-Value="game.Description" class="form-control" /> 
                <ValidationMessage For="() => game.Description" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="relasedate" class="form-label">RelaseDate:</label> 
                <InputDate id="relasedate" @bind-Value="game.ReleaseDate" class="form-control" /> 
                <ValidationMessage For="() => game.ReleaseDate" class="text-danger" />
            </div>        
            <div class="mb-3">
                <label for="rate" class="form-label">Rate:</label> 
                <InputNumber id="rate" @bind-Value="game.Rate" class="form-control" /> 
                <ValidationMessage For="() => game.Rate" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/games">Back to List</a>
</div>

@code {

    [SupplyParameterFromForm]
    public game game { get; set; } = new();

    // To protect from overposting attacks, see https://aka.ms/RazorPagesCRUD
    public async Task Addgame()
    {
        DB.game.Add(game);
        await DB.SaveChangesAsync();
        NavigationManager.NavigateTo("/games");
    }
}
